@import 'reset';
@import 'colors';
@import 'mixins';
@import 'defaults';
@import 'common-layout';
@import 'forms';

.currentUser{
  position: absolute;
  top:0;
  right: 0;
  padding: 1em 1em;
}
.all-shares{
  width: 100%;
  list-style-position: inside;

}
.link-row {
    list-style-type: decimal;
}
.meta-row {
  display: block;
  font-size: 12px;
  border-bottom: solid 1px $black;
  margin-bottom: 1em;
}
.submit-wrapper {
  margin:1em;
}
.submit-input {
  width:100%;
}
.btn-submit {
  margin:0 auto;
  display: block;
}
.btn-submit:hover {
  background: $blue;
  color:white;
}