@import 'reset';
@import 'colors';
@import 'mixins';
@import 'defaults';
@import 'common-layout';
@import 'forms';
.currentUser{
  position: absolute;
  right:0;
  top:0;
}
.currentUser:hover{
  background-color: $purple;
}
.all-shares{
  width: 100%;
  list-style-position: inside;
}
.link-row {
    list-style-type: decimal;
}
.meta-row {
  display: block;
  font-size: 12px;
  border-bottom: solid 1px $black;
  margin-bottom: 1em;
}
.share-url{
  font-size: 0.8em;
}
.submit-wrapper {
  margin:1em;
}
.submit-input {
  width:100%;
}
.btn-submit {
  margin:0 auto;
  display: block;
}
.btn-submit:hover {
  background: $blue;
  color:white;
}

.main-nav-li-wrapper {
  display: inline-block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: $purple;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


@media screen and (max-width : 590px){
  .main-nav-li-wrapper {
    display: block;
  }
  .currentUser {
    display: none;
  }
  ul {
		position: static;
		 display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
    font-size: 14px;
    text-align: center;
	}
  /*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
  .main-nav {
    padding: 0em;
  }
  .main-nav-link{
    padding:0.5em;
  }
  .main-nav-link:hover {
    background-color: $green;
    
  }
  
}